<h2>Listing keywords</h2>

<table>
  <thead>
    <tr>
	  <th>Image</th>
      <th>Word</th>
      <th>Tweets</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
	    <td><%= image_tag(keyword.image.thumb.url) if keyword.image? %></td>
        <td><%= keyword.word %></td>
        <td><%= keyword.tweets.count%></td>
        <td><%= link_to 'Show', keyword %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword', new_keyword_path %>
