<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

<h2>Latest Twitts (<%=@keyword.tweets.count%>)</h2>
<ul>
	<%@keyword.tweets.each do |twitt|%>
	   <li><%=twitt.user_screen_name%>: <%=twitt.text%></li>
	<%end%>
</ul>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
